.container {
  padding: 1%;
  font-display: Helvetica;
}

.backyard {
  height: 100vh;
  width: 100%;
  padding-top: 2%;
  background-position: center;
  background-size: cover;
  background-image: url('https://github.com/YoungVan757/portfolio/blob/master/img/backyard%20copy.jpeg?raw=true');
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  align-items: center;
}

.homepage__heading {
  color: blue;
  font-size: 100px;
  font-weight: bold;
  border: 10px solid blue;
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
}

.homepage__or {
  color: black;
  font-size: 50px;
  font-weight: bold;
  border: 10px solid darkorange;
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
}

.login__link {
  font-size: 50px;
  font-weight: bold;
  padding: 1%;
  margin: 1%;
  border: 10px solid darkgreen;
  color: black;
  background-color: white;
  text-decoration: none;
}

.signup__link {
  font-size: 50px;
  font-weight: bold;
  padding: 1%;
  margin: 1%;
  border: 10px solid slateblue;
  color: black;
  background-color: white;
  text-decoration: none;
  
}

.favs {
  background-color: firebrick;
}

.headline {
  font-size: 40px;
  color: darkorange;
}

.profile__img {
  width: 50vw;
  height: 75vh;
  background-position: center;
  background-size: contain;
  border: 10px solid slateblue;
}

.tribe {
  display: flex;
  flex-direction: column;
  padding: 1%;
  border: 10px solid blue;
  background: gold;
  margin-bottom: 1%;
}

.tribe__heading {
  color: firebrick;
  font-size: 30px;
  padding-bottom: 1%;
}

.tribes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80%;
  flex-wrap: wrap;
  padding-right: 2%;
}

.atribe img{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 37vh;
  width: 29vw;
  margin: 3%;
  border: 10px solid darkorange;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 10px solid blue;
  padding: 2%;
}

.board__functions {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.board__input {
  height: 300px;
  width: 70%;
  font-size: 60px;
  border: 10px solid gold;
}

.board__buttons {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.board__post {
  font-size: 120px;
  color: rgb(31, 22, 13);
  border: 10px solid firebrick;
  margin-left: 2%;
}

.board__stalk {
  font-size: 120px;
  color: slateblue;
  border: 10px solid darkgreen;
  margin: 2%;
}

.board__comments {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  border: 10px solid darkgreen;
  margin-top: 2%;
}

.flex__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  background-color: white;
  border: 10px solid;
  margin: 1%;
  padding: 10px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}

.form-field input {
  width: 92%;
  align-content: center;
  border: 10px solid;
}

.form-field label {
  font-weight: bold;
  
}

.heading {
  background-color: white;
  border: 10px solid;
  font-family: Helvetica;
  font-size: 120px;
  text-align: center;
  padding: 1%;
  font-weight: bold;
}

.button {
  font-size: 60px;
  font-weight: bold;
  margin: 1%;
  border: 10px solid;
}

.explore__container {
  display: flex;
  flex-direction: column;
  font-size: 14.1vh;
  text-align: right;
}


/* MARGINS */
.mt-small {
  margin-top: 4px;
}

.mt-large {
  margin-top: 12px;
}

/* MARGINS */

.mt-small {
  margin-top: 4px;
}

.mt-large {
  margin-top: 12px;
}

.category-item {
  width: 100%;
  text-decoration: none;
  color: black;
}


.blue {
  background-color: blue;
}

.yellow {
  background-color: gold;
}

.red {
  background-color: firebrick;
}

.green {
  background-color: darkgreen;
}

.orange {
  background-color: darkorange;
}

.purple {
  background-color: slateblue;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  padding-top: 2%;
  background-position: center;
  background-size: cover;
  background-image: url('https://github.com/YoungVan757/portfolio/blob/master/img/backyard%20copy.jpeg?raw=true');
}

.heading__blue {
  font-size: 110px;
  text-align: center;
  color: blue;
}

.heading__yellow {
  font-size: 100px;
  text-align: center;
  color: gold;
  margin: 0px;
  text-decoration: none;
}

.heading__red {
  font-size: 100px;
  text-align: center;
  color: firebrick;
  margin: 0px;
  text-decoration: none;
}

.heading__green {
  font-size: 100px;
  text-align: center;
  color: darkgreen;
  margin: 0px;
  text-decoration: none;
}

.heading__orange {
  font-size: 100px;
  text-align: center;
  color: darkorange;
  margin: 0px;
  text-decoration: none;
}

.heading__purple {
  font-size: 100px;
  text-align: center;
  color: slateblue;
  margin: 0px;
  text-decoration: none;
}

.message__navbar {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  height: 7vh;
}

.message__body {
  display: flex;
}

.message__textboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}

.message__line {
  height: 10px;
  width: 100%;
  background-color: firebrick;
}

.message__read {
  border-top: 10px solid gold;
  border-left: 10px solid gold;
  border-right: 10px solid gold;
  margin-left: 5%;
  height: 40vh;
}

.message__write {
  font-size: 24px;
  border-bottom: 10px solid darkgreen;
  border-left: 10px solid darkgreen;
  border-right: 10px solid darkgreen;
  margin-left: 5%;
  height: 40vh;
}

.message__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 10px solid darkorange;
  border-top: 10px solid darkorange;
  border-right: 10px solid darkorange;
  width: 20%;
}

.message__header--info {
  font-size: 32px;
  margin: 6%;
}

.message__header--button {
  background-color: slateblue;
}

.message__button {
  display: flex;
  justify-content: center;
}

.message__new{
  border: 10px solid;
  font-size: 24px;
  align-self: center;
  margin: 2%;
  font-weight: bold;
}

.messages__user1 {
  height: 27vh;
  width: 46vh;
  background-size: cover;
  background-position: center;
  background-image: url('https://www.soloskatemag.com/upload/Storage/soloskatemag_Elissa_Steamer_by_Sarah_Meurle.jpg');
}

.messages__user2 {
  height: 27vh;
  width: 46vh;
  background-position: top;
  background-size: cover;
  background-image: url('https://yunexis.com/wp-content/uploads/2015/05/Vanessa_sls_women_portraits_namchivan-38.jpg');
}

.messages__user3 {
  height: 27vh;
  width: 46vh;
  background-position: top;
  background-size: cover;
  background-image: url('https://static1.squarespace.com/static/580e92a959cc68e529a66693/t/5817c2cebebafb322e53fbdd/1477952213447/');
}

.message__button {
  display: flex;
  justify-content: center;
}

.message__new{
  border: 10px solid;
  font-size: 24px;
  align-self: center;
  margin: 2%;
  font-weight: bold;
}

.members__body {
  display: flex;
  flex-direction: column;
}

.members__favs {
  font-size: 28px;
  width: 67%;
  padding: 2%;
}

.members__row1 {
  display: flex;
  justify-content: space-between;
  border-top: 10px solid gold;
  border-right: 10px solid gold;
  border-left: 10px solid gold;
  margin-left: 4%;
  margin-right: 4%
}

.members__write1 {
  padding-left: 2%;
  padding-right: 2%;
  border-left: 10px solid gold;
  border-right: 10px solid gold;
}

.members__line1{
  height: 10px;
  width: 96%;
  background-color: firebrick;
}

.members__row2 {
  display: flex;
  justify-content: space-between;
  border-right: 10px solid darkgreen;
  border-left: 10px solid darkgreen;
  margin-left: 4%;
  margin-right: 4%
}

.members__write2 {
  padding-left: 2%;
  padding-right: 2%;
  border-left: 10px solid darkgreen;
  border-right: 10px solid darkgreen;
}

.members__line2{
  height: 10px;
  width: 96%;
  background-color: darkorange;
}

.members__row3 {
  justify-content: space-between;
  display: flex;
  border-bottom: 10px solid slateblue;
  border-right: 10px solid slateblue;
  border-left: 10px solid slateblue;
  margin-left: 4%;
  margin-right: 4%
}

.members__write3 {
  padding-left: 2%;
  padding-right: 2%;
  border-left: 10px solid slateblue;
  border-right: 10px solid slateblue;
}

.members__avatar1 {
  height: 30vh;
  width: 46vh;
  background-size: cover;
  background-position: center;
  background-image: url('https://factmag-images.s3.amazonaws.com/wp-content/uploads/2014/10/grouper_moon-3BW_Jason-Bokros.jpg');
}

.members__avatar2 {
  height: 30vh;
  width: 46vh;
  background-position: center;
  background-size: cover;
  background-image: url('https://a3-images.myspacecdn.com/images03/3/9959a90ba01f4d49b117cac49a4513fd/600x600.jpg');
}

.members__avatar3 {
  height: 30vh;
  width: 46vh;
  background-position: center;
  background-size: cover;
  background-image: url('https://i.ytimg.com/vi/aNGTG1yn85w/maxresdefault.jpg');
}

.tribepage__img {
  width: 96%;
  height: 50vh;
}

.heading {
    color: blue;
    font-size: 40px;
}

.profile {
    display: flex;
    height: 93vh;
}

.hero {
    width: 50%;
}

.interact {
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.fav {
  border: 10px solid gold;
  background-color: firebrick;
}

.message {
    background-color: gold;
}


.name__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 96px;
    font-weight: 700;
    color:darkgreen;
}

.name__container span {
  font-size: 28px;
  color: gold;
}

.name {
    font-size: 100px;
    color: darkgreen;
}

.headline {
  font-size: 40px;
  color: darkorange;
}

.tribepage__img {
  width: 50%;
  height: 85vh;
  border: 10px solid slateblue;
  background-position: center;
  background-size: cover;
  background-image: url('http://www.korea.net/upload/content/editImage/181206_son_700.jpg');
}

.comment__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.comment {
  display: flex;
  flex-grow: 2;
  border: 10px solid blue;
  padding: 1%;
}

.comment__box {
  display: flex;
  border: 10px solid gold;
  padding: 1%;
  justify-content: space-evenly;
  margin-top: 1%;
}

.user__img {
  height: 200px;
  width: 200px;
  border: 10px solid slateblue;
  margin-left: 1%;
  background-position: center;
  background-size: cover;
  background-image: url('https://static.highsnobiety.com/thumbor/NLDTgrbzSUOhHcw1thxQPPQ_JMo=/fit-in/800x480/smart/static.highsnobiety.com/wp-content/uploads/2017/01/27113747/brian-anderson-street-style-0.jpg')
}

.comment__functions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment__input--box {
  display: flex;
}

.comment__input {
  display: flex;
  height: 25vh;
  width: 90%;
  border: 10px solid gold;
}

.comment__post {
  margin-left: 1%;
  font-size: 40px;
  font-weight: bold;
  border: 10px solid firebrick;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow__up {
  height: 200px;
  width: 168px;
  background-color: darkgreen;
  align-self: center;
  margin-left: 4%;
  margin-right: 2%;

}

.arrow__down {
  height: 200px;
  width: 168px;
  background-color: darkorange;

  align-self: center;
  margin-left: 2%;
  margin-right: 4%;
}

.flag {
  margin-top: 2%;
}

.message__navbar {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  height: 7vh;
}

.message__body {
  display: flex;
}

.message__textboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}



.message__line {
  height: 10px;
  width: 100%;
  background-color: firebrick;
}

.message__read {
  border-top: 10px solid gold;
  border-left: 10px solid gold;
  border-right: 10px solid gold;
  margin-left: 5%;
  height: 40vh;
}

.message__write {
  border-bottom: 10px solid darkgreen;
  border-left: 10px solid darkgreen;
  border-right: 10px solid darkgreen;
  margin-left: 5%;
  height: 40vh;
}

.message__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 10px solid darkorange;
  border-top: 10px solid darkorange;
  border-right: 10px solid darkorange;
  width: 20%;
}

.message__header--info {
  font-size: 32px;
  margin: 6%;
}

.message__header--button {
  background-color: slateblue;
}

.link {
  color: white;
}

.board-post:hover {
  width: 400px;
}


.join__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: hotpink; */
}

/* MEDIA QUERIES */


@media (max-width: 800px) {
  .hero {
      width: 100%;
  }

  .profile {
      flex-direction: column-reverse;
  }

  .profile__img {
      height: 50vh;
      width: 94%;
      margin: 1%;
  }

  .interact {
      padding: 5%;
  }
  .interact a {
      margin: 2%;
  }

  .favs {
      margin: 2%;
  }

  .name {
      font-size: 80px;
  }

  .navbar {
      height: 5vh;
  }

  .tribe {
      height: 45vh;
  }

  .board {
      height: 45vh;
  }

  .tribe1 {
      height: 39.5vh;
      width: 28%;
  }

  .tribe2 {
      width: 28%;
  }

  .tribe3 {
      width: 28%;
  }

  .board {
      align-content: space-around;
  }

  .board__functions{
      flex-direction: column;
  }

  .board__input {
      width: 95%;
  }

  .board__buttons {
      flex-direction: row;
      font-size: 60px;
      width: 100%;
  }

  .board__post {
      font-size: 40px;

  }

  .board__stalk {
      font-size: 40px;

  }

  .explore__container {
      text-align: center;
  }

  .message__textboxes {
      width: 70%;
  }

  .message__header {
      width: 25%;
  }

  .message__header--info {
      font-size: 20px;
  }

  .message__header--button img {
      width: 80px;
  }

  .members__write1 img{
      height: 80px;
      width: 80px;
      align-self: center;
  }

  .members__write2 img{
      height: 80px;
      width: 80px;
  }

  .members__write3 img{
      height: 80px;
      width: 80px;
  }

  .members__favs {
      font-size: 20px;
  }

  .tribepage__img {
      width: 96%;
      height: 50vh;
  }

  .name {
      font-size: 56px;
  }

  .headline {
      font-size: 38px;
  }

  .comment {
      flex-direction: column;
      margin-top: 2%;
  }

  .arrow__down img {
      width: 50px;
      height: 50px;
  }

  .arrow__down {
      width: 50px;
      height: 50px;
  }
  .arrow__up img {
      width: 50px;
      height: 50px;
  }
  .arrow__up {
      width: 50px;
      height: 50px;
      margin: 1%;
  }

  .comment__container {
      flex-direction: column-reverse;
      height: 100%;
      margin-top: 2%;
  }

  .user__img {
      display: none;
  }

  .comment__functions {
      width: 100%;
  }

  .comment__functions input{
      height: 20vh;
      width: 60%
  }

  .comment__input--avatar {
      display: flex;
      justify-content: space-evenly;
}

  .comment__avatar {
      display: flex;
      height: 20vh;
      width: 25%;
      border: 10px solid slateblue;
      margin-left: 1%;
      background-position: center;
      background-size: cover;
      background-image: url('https://static.highsnobiety.com/thumbor/NLDTgrbzSUOhHcw1thxQPPQ_JMo=/fit-in/800x480/smart/static.highsnobiety.com/wp-content/uploads/2017/01/27113747/brian-anderson-street-style-0.jpg')
  
  }
}